# Ignorar directorios de entorno virtual
env/
venv/

# Ignorar archivos compilados de Python
__pycache__/
*.py[cod]

# Ignorar archivos de configuración de VSCode
.vscode/

# Ignorar archivos de configuración del sistema operativo
.DS_Store
Thumbs.db

# Ignorar archivos de configuración de paquetes
*.log
*.lock
