# Ignorar el directorio de cachd de Python
__pycache__
*.pyc
*.pyo

# Ignorar archivos de entorno virtual de Python
env
venv

# Ignorar archivos y carpetas de control de versiones
.git
.gitignore

# Ignorar archivos de configuracion del editor
.vscode/
.idea/

# Ignorar archivos de entorno
.env
